In [1]:
import pandas as pd

In [2]:
data = {
    "Name": ["Ali", "Dana", "Murat", "Aruzhan", "Timur"],
    "Age": [19, 22, 20, 23, 21],
    "Score": [85, 90, 78, 88, 92]
}

df = pd.DataFrame(data)
df

      Name  Age  Score
0      Ali   19     85
1     Dana   22     90
2    Murat   20     78
3  Aruzhan   23     88
4    Timur   21     92

In [3]:
print(df.head(3))
print(df.describe())
print("Средний балл:", df["Score"].mean())

    Name  Age  Score
0    Ali   19     85
1   Dana   22     90
2  Murat   20     78
             Age      Score
count   5.000000   5.000000
mean   21.000000  86.600000
std     1.581139   5.458938
min    19.000000  78.000000
25%    20.000000  85.000000
50%    21.000000  88.000000
75%    22.000000  90.000000
max    23.000000  92.000000
Средний балл: 86.6

In [4]:
print("Старше 20 лет:")
print(df[df["Age"] > 20])

print("Score > 80:")
print(df[df["Score"] > 80])

Старше 20 лет:
      Name  Age  Score
1     Dana   22     90
3  Aruzhan   23     88
4    Timur   21     92
Score > 80:
      Name  Age  Score
0      Ali   19     85
1     Dana   22     90
3  Aruzhan   23     88
4    Timur   21     92